* {
    list-style: none !important;
    text-decoration: none !important;
}

.logo {
    width: 280px;
}

.nav-link {
    transition: .4s;
    border-radius: 10px;
}

.nav-link:hover {
    background: grey;
    color: #fff !important;
}

footer ul {
    width: 40% !important;
}

footer span {
    font-size: 14px;
}

/* **************************************************************************************************************************************************************Media-query**************************************************************************************************************************************************************** */


@media (max-width:650px) {
    nav {
        padding: 30px 100px;
        padding-left: 100px;
        /* background: #000; */
        /* margin-left: 10px; */
    }

    .nav-link {
        display: block !important;
        width: 100%;
        /* background: #000; */
        margin-left: 85px !important;
        text-align: center;
        margin-bottom: 10px;
    }

    .info-section {
        width: 100% !important;
    }

    footer ul {
        width: 100% !important;
    }

    footer li a {
        display: block !important;
    }

    iframe {
        width: 100% !important;
    }
}